[Desktop Entry]
Version=1.0
Type=Application
Name=Pickleball App
Comment=Launch the Pickleball Control Panel
Exec=/usr/bin/python3 /home/pi/UI.py
Icon=/home/pi/pickleball.jpeg
Terminal=false
Categories=Utility;